.ve-row {
  font-size: 16px;
}
.ve-row p,
.ve-row h1,
.ve-row h2,
.ve-row h3,
.ve-row h4,
.ve-row h5,
.ve-row h5,
.ve-row input,
.ve-row button,
.ve-row span,
.ve-row input[type=button],
.ve-row input[type=text],
.ve-row input[type=submit],
.ve-row input[type=number],
.ve-row button[type=submit],
.ve-row button[type=reset],
.ve-row button[type=button] {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
